[flake8]
exclude =
    venv*,
    __pycache__,
    node_modules,
    bower_components,
    migrations
max-complexity = 9
max-line-length = 99
# Rule definitions: http://flake8.pycqa.org/en/latest/user/error-codes.html
# D203: 1 blank line required before class docstring
# E203: whitespace before ',', ';', or ':'
# W503: line break before binary operator
extend-ignore =
    D203,
    E203,
    W503
