{% extends "base.html" %}

{% block body %}
<h2>Welcome to the PPRL application</h2>

<p>
   This application is for data-owning parties to process and upload their data
   to a Google Cloud Platform (GCP) bucket. Once both parties have uploaded
   their data, the operator can run the workload to link your datasets in a
   secure environment.

   Keep this app open and you will be able to download your results at the end.
</p>
<br>
<p>
   To begin, please select which party you are.
</p>
<br>
<form method="POST">
   <select name="party">
      {% for party in parties %}
         <option value="{{ party }}">{{ party }}</option>
      {% endfor %}
   </select>
   <br>
   <input type="submit">
</form>
{% endblock %}
